@use "../../../styles/fonts" as f;
@use "../../../styles/reset";
@use "../../../styles/variables" as v;

.container {
    width: 100%;
    background-color: v.$color-light-red;
    box-shadow: -10px 0px 15px rgba(253, 173, 173, 0.3), 10px 0px 15px rgba(253, 173, 173, 0.3);
    border-radius: 20px;
    z-index: 0;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: f.$font-size-h1;
    color: v.$color-grey;
    width: 100%;
    text-align: center!important;
}

.slogan h2 {
    text-align: center!important;
}

.cards-container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 2rem; 
    position: relative;

    img {
        width: 100%;
        border-radius: 20px;
    }
    h2 {
        font-size: f.$font-size-p;
    }
}

.recipes_button {
    display: block;
    margin: auto;
    background-color: v.$color-light-grey;
    border: none;
    padding: 0.1rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}
  
.recipes_button a {
    color: v.$color-yellow; 
    text-transform: uppercase;
    font-size: f.$font-size-h2;
    text-decoration: none;
    text-align: center;
}