@use "../../../styles/_fonts.scss" as f;
@use "../../../styles/_reset.scss";
@use "../../../styles/_variables.scss" as v;

// Burger Menu
.icon-burger  {
    color: v.$color-yellow;
    font-size: 2rem;
}

.btn-menu-burger {
  background-color: transparent;
  border: none;
}

  // Media query pour les grands écrans (par exemple, à partir de 768px)
  
/* Pour les écrans plus larges (par exemple, à partir de 768px) */
@media (min-width: 760px) {
  .header-menu-modal {
    display: none;
  }
}